*{
    font-family: 'Lobster', cursive;
}
body{
    height: 100vh;
    background: black;
}

.navbar-collapse {
    justify-content: flex-end;
  
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: rgb(255, 174, 0);
}
.nav-link.active{
    color: gold!important;
}
.navbar-toggler{
    color: white;
    background: gold;
}

.div-titulo{
    display: flex;
    color:white;
    background-color: black;
    justify-content: space-between;
    width: 98vw;
    border:1px solid black;
    padding: 0;
    margin-left:.5vw;
    
}
.div-titulo>a {
    color: white;
}

.navegacion {
    text-align: center;
    display: inline-block;
    justify-self: center;
    font-size: 40px;
    text-decoration: none;
    color:black;
    font-weight: 600;
}

h1 {
    display: flex;
    font-size: 4em;
    
}

.fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px;
    background-color: black;
    color: white;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
    background: black;
    
    
}
.cards>p{
    color: white;
    font-size: 48px;
}
.card{
    background-color: black;
    border:1px solid rgb(197, 169, 7);
    color: white;
    text-shadow:2px 2px 4px black;
    transition: transform 2s ease,background 1s ease ;

}
.card:hover{
    background: linear-gradient(45deg,darkgoldenrod, gold);
    transform: rotateY(360deg);
}
.card-img-top{
    max-height: 160px;
    min-height: 159.9px;
}
#card-body{
    position: absolute;
    bottom: 15px;
}
.card-body a{
    margin-left: 30px;
}
#card-body > a{
    background-color: black;
    color: white;
    font-weight: bold;
    border:1px solid gold;
}
#card-body >a:hover{
    color: gold;
}

.button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.contenedor-tabla{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}
.tabla,td {
    color: white;
    border:1px solid gold;
}

td {
    margin:0;
    padding:5px;
    height: 5%;
}

#categories {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap:15px;
}
label{
    display: flex;
    align-items: center;
}
input[type="checkbox"]{
    appearance: none;
    background-image: url(../img/check.svg);
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: black;
    border:1px solid gold;
    border-radius:5px;
    width: 18px;
    height: 18px;
}

input[type="checkbox"]:checked
{
    background-color: goldenrod;
}

#details-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    color: white;
}

.spans {
    width: 100%;
}
p>.span {
    margin-right: 20px;
    border-bottom: 3px solid gold;
    border-top:1px solid gold;
    padding: 2px 5px 2px 5px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}

.bg-body-tertiary{
    background: black!important;
    color: white;
}